/* TODO: add box shadows to the bubble types to mimic the auras */

/* Modal classes */
.modal {
  width: 20rem;
  height: 20rem;

  /* TODO: Would be nice to have the bubble be a percentage of the screen, like this*/
  /*width: calc(100vw - 15%);*/
  /*height: calc(100vw - 15%);*/

  /*margin-left: -12%;*/

  border-radius: 20%;

  color: white;
  font-size: 0.75rem;
}

.green-background {
  background: radial-gradient(
    50.01% 50.01% at 82.11% 49.99%,
    #6b9259 0%,
    rgba(142, 158, 108, 0.7) 100%
  );
  transform: rotate(-11.5deg);
}

.purple-background {
  background: linear-gradient(180deg, #8b6ab5 0%, #e4c4af 100%);
  transform: rotate(-8deg);
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Original styles*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: rgba(255, 255, 255, 0.75);*/
}

.bubble-container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.5fr 2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "meta user-id-and-audio"
    "meta description"
    "meta collect-and-share";
}

.description {
  grid-area: description;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

.user-id-and-audio {
  grid-area: user-id-and-audio;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
}

.collect-and-share {
  grid-area: collect-and-share;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.meta {
  grid-area: meta;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.meta span {
  transform: rotate(-90deg);
}
